* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1800px;
}

.main {
    height: 725px;
    margin: 0 auto;
    background-image: url(../img/bg_header1.png);
    background-position: center;
    background-size: cover;
    padding-top: 13px;
}

.header__menu {
    height: 83px;
    background: rgba(0, 0, 0, .5);
    padding-left: 475px;
    padding-right: 475px;
    margin: 0 auto;
    display: flex;
}

.logo {
    padding-top: 19px;
}

.logo:hover {
    opacity: .1;
    transition: .6s;
}

.header__contact__form {
    display: flex;
    width: 600px;
    padding-left: 150px;
}

.contact {
    display: inline-block;
}

.contact__a {
    display: inline-block;
    color: #fff;
    padding-top: 28px;
    text-align: center;
}

.p__heade__contacts:hover,
.contact__a:hover {
    text-decoration: underline;
    opacity: .3;
    transition: .6s;
}

.p__heade__contacts {
    float: right;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 25px;
    padding-left: 14px;
    padding-right: 20px;
}

.header__icon__contact__form2 {
    margin-top: 4px;
}

.serch__window__header {
    display: inline-flex;
    padding-top: 30px;
}

.input__serch__header {
    height: 25px;
    width: 150px;
    background: none;
    border: 1px solid #ffffff;
}

.input__serch__header::placeholder {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
    letter-spacing: 0.36px;
}

.input__serch__button__header {
    border: 1px solid #ffffff;
    height: 22px;
    width: 30px;
    text-align: center;
    padding-top: 3px;
}

.input__serch__button__header:hover {
    opacity: .7;
}

.input__serch__button__header:active {
    background-color: rgb(82, 80, 80);
}

.input__serch__header:focus {
    color: #fff;
}

/* Шапка первой страницы */



.header__nav {
    text-align: center;
}

.header__nav__li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}

.header__nav {
    height: 80px;
}

.header__nav__a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 80px;
    height: 40px;
}

.header__nav__a__page {
    text-decoration: none;
    color: #8c8c8c;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 80px;
    height: 40px;
}

.header__nav__a:active {
    color: #ffffff;
    letter-spacing: 0.36px;
}

.header__nav__a:hover {
    color: #ffffff;
    letter-spacing: 0.36px;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 28px;
    transition: .6s;
}


.header__nav__a__page:hover {
    color: #000;
    letter-spacing: 0.36px;
    border-bottom: 3px solid #000;
    padding-bottom: 28px;
    transition: .6s;
}

/* Меню */
.header__text__main {
    text-align: center;
}

.header__text__main {
    margin: 0 auto;
    padding-top: 150px;
    color: #fff;

}

.p__header__text {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    padding-bottom: 16px;
    border-bottom: 3px solid #fff;
    display: inline;
    text-align: center;
}


.h2__header_text {
    color: #ffffff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding-top: 80px;
}

.icons__box {
    text-align: center;
    padding-top: 50px;
}

.icons__header {
    margin-left: 20px;
    text-decoration: none;
}

.icons__header:hover {
    opacity: .3;
    transition: .6s;
}

/* шапка закрыта */

.main__box {
    min-width: 900px;
    width: 1920px;
}


/* шапка закрыта */
.content__container1 {
    min-width: 900px;
    height: 500px;
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
}

.text__content1 {
    width: 50%;
    text-align: left;
    position: relative;
}

.text__box__content1 {
    position: absolute;
    left: 500px;
    width: 400px;
    height: 400px;
}

.h2__content1 {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
}

.p__content1 {
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    word-spacing: 1px;
    line-height: 20px;
    margin-top: 30px;
}

.img__content1 {
    width: 50%;
}

.img__styli__content1 {
    width: 540px;
    height: 338px;
}

/* контейнер 1 закрыт */
.content__container2 {
    height: 762px;
    background-color: #f7f7f7;
    margin: 0 auto;
}

.title__container {
    width: auto;
    height: 100px;
    text-align: center;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    padding-top: 100px;
}

.rows__contenxt__services {
    margin: 0 auto;
}

.rows__services {
    margin: 0 auto;
    padding-left: 300px;
}

.line__text {
    text-align: right;
}

.line__servis {
    display: inline-flex;
}

.line__text {
    height: 150px;
    width: 400px;
}

.icon__line,
.icon__line2 {
    width: 102px;
    height: 102px;
    margin-left: 100px;
}

.text__line2 {
    max-height: 150px;
    max-width: 400px;
    margin-left: 100px;
}

.icon__line,
.icon__line2 {
    border: 1px solid #999999;
    background-color: #999999;
    border-radius: 50%;
    position: relative;
}

.icon__line:hover,
.icon__line2:hover {
    color: #f44336;
    background-color: #f44336;
    transition: .6s;
}


.h2__servis {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    padding-bottom: 20px;
}

.p__servic {
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    padding-bottom: 10px;
}

.icon__servic__stile1 {
    position: absolute;
    top: 35px;
    left: 42px;
}

.icon__servic__stile {
    position: absolute;
    top: 38px;
    left: 39px;
}

/* контейнер 2 закрыт */
.content__container3 {
    width: 1600px;
    height: 890px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    margin-top: 100px;
    min-width: 900px;
}

.row__gallery {
    min-width: 17%;
    height: 550px;
    background: #f7f7f7;
    margin: 0 auto;
}

.h3__gallery {
    height: 50px;
    color: #000;
    text-align: center;
    padding-top: 10px;
}

.button__buy__stuff {
    padding-top: 30px;
    padding-left: 50px;
}

.button_buy {
    background-color: #f44336;
    color: #fff;
    padding: 10px 70px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
}

.product__page {
    text-decoration: none;
}

.button_buy:hover {
    opacity: .5;
}

/* контейнер 3 закрыт */

.content__container4 {
    margin: 0 auto;
    min-height: 537px;
    background-image: url(../img/bg2.png);
    background-position: center;
}

.slider__bg {
    color: #ffffff;
}

.slider__testimonial {
    display: flex;
}

.slider__item {
    text-align: center;
    min-width: 1000px;
    margin: 0 auto;
    color: #ffffff;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    padding-top: 50px;
    line-height: 30px;
}

.icon {
    padding-bottom: 50px;
}

.p__testimonial1 {
    padding-top: 20px;
}

.slider__right,
.slider__left {
    width: 50px;
    height: 50px;
    margin-top: 70px;
    text-align: center;
    position: relative;
}

.slider__left {
    padding-left: 150px;
}

.slider__right {
    padding-right: 150px;
}

.arrow {
    outline: 1px solid #fff;
    padding: 15px 20px;
    position: absolute;
}

.arrow:hover {
    opacity: .6;
}

/* контейнер 4 закрыт */
.content__container5 {
    height: 890px;
    margin: 0 auto;

}

.item__news {
    width: 1700px;
    height: 690px;
    margin: 0 auto;
    display: flex;
}

.row__item__news1,
.row__item__news2 {
    width: 50%;
    height: 690px;
}

.row__item__news1 {
    padding-left: 100px;
}

.row__item__news2 {
    padding-right: 100px;
}

.sub__title {
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
}

.coloms__news__date {
    width: 150px;
    height: 600px;
    float: left;
}

.coloms__news {
    width: 400px;
    height: 600px;
    float: left;
}

.news__date__box {
    background: #f7f7f7;
    margin-top: 50px;
    margin-left: 36px;
    width: 98px;
    height: 137px;
    border-radius: 49px;
    text-align: center;
}

.h2__news {
    color: #000000;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    padding-top: 20px;
}

.p_news {
    color: #9e9e9e;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

.news__text {
    width: 350px;
    height: 110px;
    margin-top: 70px;
}

.h2__news__text {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
}

.p__news__text {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
}

.events__news {
    width: 568px;
    height: 120px;
    margin-top: 50px;
    display: flex;
}

.events__news2 {
    width: 568px;
    height: 400px;
}

.events__slider {
    display: flex;
}

.style__img__news {
    width: 189px;
    height: 120px;
    border: 1px solid #999999;
}

.sub__title__news {
    display: inline-flex;
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid #c5c5c5;
}

.arrow_news__events {
    margin-left: 200px;
}

.arrow__news {
    text-decoration: none;
    color: #000000;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
}

.arrow__news:hover {
    color: #999999;
}

.wertical__slider {
    width: 570px;
    height: 44px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.wertical__slider__active {
    width: 570px;
    height: 184px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.title__wertical__slider {
    width: 569px;
    height: 44px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;

}

.title__wertical__slider a {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 43px;
    text-decoration: none;
}

.title__wertical__slider:hover {
    opacity: .6;
}

.text__wernical__slider {
    background-color: #f5f5f5d8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffffff;
    color: #505050;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    height: 184px;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

/* контейнер 5 закрыт */

.content__container6 {
    margin: 0 auto;
    height: 800px;
    background: #f5f5f5d8;
    position: relative;
}

.scroll {
    position: absolute;
    top: -15px;
    right: 50px;
}

.scroll:hover {
    opacity: .6;
}

.gallery__team {
    display: flex;
}

.row__team {
    background: #f7f7f7;
    margin: 0 auto;
}

.box__team__gallery {
    margin: 0 auto;
    width: 1200px;

}

.h3__team {
    color: #f44336;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
}

.p__team {
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
}

.product__page__team {
    text-decoration: none;
}

.product__page__team:hover h3 {
    opacity: .6;
}

.icon__contact__team {
    width: 270px;
    height: 100px;
    display: flex;
    margin-top: 30px;
}

.icon__team {
    background: #ffffff;
    width: 30px;
    height: 25px;
    outline: 2px solid #000;
    position: relative;
    margin-left: 20px;
}

.icons__team {
    position: absolute;
    top: 5px;
    left: 5px;
    padding-left: 2px;
}

.icon__team:hover {
    opacity: .6;
}

/* контейнер 6 закрыт */
.content__container7 {
    margin: 0 auto;
    width: auto;
    height: 300px;
    background-image: url(../img/bg3.png);
    background-position: center;
    background-size: cover;
}

.sub__form {
    display: flex;
    padding-left: 650px;
}

.inpu__email__style {
    width: 500px;
    height: 30px;
}

.inpu__button__sstyle {
    margin-left: 20px;
    height: 33px;
    width: 120px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    background-color: #f44336;
    outline: 2px solid #f44336;
    border: none;
}

.inpu__button__sstyle:hover {
    outline: 2px solid #ffffff;
    color: #f44336;
    background-color: #fff;
}

/* контейнер 7 закрыт */

.content__container8 {
    margin: 0 auto;
    height: 1210px;
    max-width: 1920px;
}

.content__container__page {
    background-color: #e1e1e1;
}

.contact__form__registr {
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
}

.text__form__contact__us,
.input__form__contact__us {
    width: 50%;
}

.box__text__contact {
    margin-left: 300px;
    margin-top: 40px;
}

.contact__h2 {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 20px;
}

.p__contact {
    width: 390px;
    height: 200px;
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
}

.email__send__fast {
    text-decoration: none;
    color: #f44336;
    font-family: "Roboto Condensed";
}

.email__send__fast:hover {
    opacity: 0.6;
}

.name__user::placeholder,
.email__user::placeholder,
.text__area::placeholder {
    padding-left: 16px;
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
}

.name__user,
.email__user {
    width: 470px;
    height: 42px;
}

.text__area {
    width: 470px;
    height: 168px;
}

.form {
    margin-top: 20px;

}

.inpu__bytton__contact {
    width: 140px;
    height: 40px;
    background-color: #f44336;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
}

.inpu__bytton__contact:hover {
    opacity: .6;
    transition: .5s;
}

.map {
    width: 1169px;
    height: 298px;
    margin-left: 400px;
    margin-top: 50px;
}

/* контейнер 7 закрыт */
footer {
    background: #000;
    margin: 0 auto;
    width: auto;
    height: 71px;
    clear: both;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    position: relative;
}

.scroll__footer {
    position: absolute;
    top: -15px;
    right: 20px;
}

.gallery__cotalog {
    height: 600px;
    display: flex;
}

.h3__gallery__cotalog {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}

.img__gallery:hover {
    opacity: .6;
}

.discount {
    width: auto;
    height: 560px;
    display: flex;
}

.discount__game {
    width: 50%;
}

.game1 {
    background-image: url(../img/cod1.png);
}

.game2 {
    background-image: url(../img/med.png);
}

.p__discount {
    color: #010101;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.h2__discount {
    color: #f44336;
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: 400;
}

.price {
    display: flex;
}

.price__low {
    color: #000000;
    font-size: 62px;
}

.price__past {
    color: #8c8c8c;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    text-decoration: line-through;
}

.button_buy_low_price {
    background-color: #f44336;
    color: #fff;
    padding: 10px 100px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.14px;
}

.button_buy_low_price:hover {
    opacity: .6;
}

.game1 {
    padding-top: 150px;
}

.discount__game {
    padding-top: 190px;
    padding-left: 40px;
}

.game1 {
    padding-top: 150px;
}

.game__content__page {
    width: 1000px;
    height: 450px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

.sliyder__dawn__main__poictur {
    display: flex;
}

.picture__game__style {
    width: 87px;
    height: 62px;
}

.img__slider__dawn:hover .picture__game__style {
    transition: .6s;
    transform: scale(1.3);
    box-shadow: 1px 1px 5px 1px #000000;
}

.img__slider__dawn {
    margin-left: 20px;
    margin-top: 50px;
}

.title__game__page__style {
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.title__game__page__style__last__words {
    color: #f44336;
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.price__game__page {
    margin-bottom: 20px;
}

.price__game__page__style {
    color: #000000;
    font-family: Poppins;
    font-size: 62px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
}

.button_buy_page {
    border: 1px solid #f44336;
    background-color: #f44336;
    padding: 20px 250px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.button_buy_page:hover {
    opacity: .6;
    transition: .6s;
}

.p__page__game {
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 24px;
}

.subtitle__game__page {
    margin-top: 40px;
}

.game__text__clous__slider {
    margin-left: 40px;
}

.same__game {
    width: auto;
    height: 1000px;
    background-color: #e3e3e3;
}

.content__container__page__game {
    margin-top: 200px;
}

.page__game__gallery {
    width: 1200px;
    margin-left: 366px;
}