@charset "UTF-8";

/*Обнуление*/

* {
  font-family: 'Lato Bold';
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/LatoBold.woff");
  src: local("☺"), url("../fonts/LatoBold.woff") format("woff"), url("../fonts/LatoBold.ttf") format("truetype"), url("../fonts/LatoBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/LatoRegular.woff");
  src: local("☺"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype"), url("../fonts/LatoRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.header {
  background: url(../img/bg_header.jpg) center no-repeat;
  background-size: cover;
  height: 720px;
}

.head {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: auto 3fr;
  margin: 40px 0;
  grid-gap: 20px;
}

.head .event {
  margin-top: 15px;
}

.head .event p {
  margin-top: 15px;
}

.head .logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.head .main__discripteon {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 945px;
}

.head .main__discripteon h2,
.head .main__discripteon p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.head .main__discripteon h6 {
  font-family: 'Lato Regular';
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  color: #EDD9D9;
  text-align: center;
  justify-self: center;
  margin: 15px 0px 50px 0px;
}

.head .main__discripteon .main__title {
  grid-gap: 10px;
}

.head .main__discripteon .main__title h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #DDA859;
  max-width: 751px;
  height: 144px;
}

.head .main__discripteon .main__title .subtitle {
  max-width: 751px;
  max-height: 87px;
  font-size: 22px;
  line-height: 29px;
}

.head .main__discripteon .header__form {
  justify-self: center;
}

.head .main__discripteon .header__form input,
.head .main__discripteon .header__form button {
  width: 262px;
  height: 50px;
  background: #FAF9F9;
  border: 1px solid #E5E5E5;
  border-radius: 35px;
  font-size: 15px;
  line-height: 18px;
}

.head .main__discripteon .header__form input::-webkit-input-placeholder, .head .main__discripteon .header__form button::-webkit-input-placeholder {
  font-weight: 300;
  text-transform: uppercase;
}

.head .main__discripteon .header__form input::-moz-placeholder, .head .main__discripteon .header__form button::-moz-placeholder {
  font-weight: 300;
  text-transform: uppercase;
}

.head .main__discripteon .header__form input:-ms-input-placeholder, .head .main__discripteon .header__form button:-ms-input-placeholder {
  font-weight: 300;
  text-transform: uppercase;
}

.head .main__discripteon .header__form input::-ms-input-placeholder, .head .main__discripteon .header__form button::-ms-input-placeholder {
  font-weight: 300;
  text-transform: uppercase;
}

.head .main__discripteon .header__form input::placeholder,
.head .main__discripteon .header__form button::placeholder {
  font-weight: 300;
  text-transform: uppercase;
}

.head .main__discripteon .header__form input {
  padding-left: 20px;
  margin-right: 30px;
}

.head .main__discripteon .header__form button {
  text-transform: uppercase;
  background: #DB0707;
  border: 1px solid #DB0707;
  font-weight: 500;
  color: #FFFFFF;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.head .main__discripteon .header__form button:hover {
  background: #ee0909;
  -webkit-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
          transform: translate(0%, 2%);
  border-bottom: 2px solid #830505;
}

.content {
  max-width: 945px;
  justify-self: center;
}

.section {
  margin-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.title__section {
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark__text,
.gold__text {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.gold__text {
  color: #DDA859;
  margin-left: 10px;
}

.box {
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  grid-gap: 20px;
}

.img__box {
  border-bottom: 1px solid #DDA859;
}

.text {
  grid-gap: 30px;
}

.text-2 {
  text-align: right;
}

.text p {
  width: 551px;
  height: 88px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato Regular';
}

.span__arrow {
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
}

.span__arrow-2 {
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  text-align: right;
}

.span__arrow-2 img {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.span__arrow p {
  width: 525px;
  height: 110px;
  -ms-flex-item-align: center;
      align-self: center;
}

.practice {
  background: url(../img/bg_box2.png);
  height: 376px;
}

.practice h2 {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: #DDA859;
  margin-bottom: 40px;
}

.big__btn {
  justify-self: center;
  margin-bottom: 40px;
}

.big__btn button {
  width: 361px;
  height: 60px;
  color: #fff;
  background: #DB0707;
  border-radius: 35px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.big__btn button:hover {
  background: #ee0909;
  -webkit-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
          transform: translate(0%, 2%);
}

.section-border {
  margin-top: 70px;
  width: 752px;
  border: 3px solid #DDA859;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
}

.course {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course h2 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 40px;
}

.course p {
  font-size: 18px;
  line-height: 22px;
  width: 612px;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.course .list {
  grid-gap: 35px;
}

.course .list li {
  grid-template-columns: 10px auto;
  grid-gap: 20px;
  max-width: 450px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato Regular';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .list li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #DDA859;
  border-radius: 50%;
}

.middle {
  background: #DDA859;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle h2 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.result {
  width: 608px;
  height: 176px;
  justify-self: center;
  margin: 60px;
}

.result .span {
  grid-template-columns: 40px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato Regular';
}

.result .span-1::before {
  content: "1";
  width: 40px;
  height: 40px;
  background: #DDA859;
  border-radius: 50%;
  color: #fff;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result .span-2::before {
  content: "2";
  width: 40px;
  height: 40px;
  background: #DDA859;
  border-radius: 50%;
  color: #fff;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result .span-3::before {
  content: "3";
  width: 40px;
  height: 40px;
  background: #DDA859;
  border-radius: 50%;
  color: #fff;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.positeone {
  min-height: 670px;
  background: #FFF8EF;
  position: relative;
  top: -80px;
  left: 0;
  right: 0;
  z-index: -1;
}

.section__positeon {
  grid-gap: 40px;
  justify-items: center;
}

.section__positeon h2 {
  margin-top: 156px;
  width: 555px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section__positeon-2 h2 {
  margin-top: 100px;
  width: 730px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  justify-self: center;
}

.reasons-b {
  grid-template-columns: repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 20px;
}

.reason-b {
  max-width: 358px;
  position: relative;
  grid-gap: 20px;
}

.reason-b span {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: 'Lato Regular';
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #DDA859;
  grid-template-columns: repeat(3, auto);
  position: absolute;
  top: -5px;
  left: 48%;
}

.golden-row {
  width: auto;
  height: 1px;
  background: #DDA859;
}

.reasons-s {
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  grid-gap: 20px;
}

.reason-s {
  grid-gap: 20px;
  max-width: 261px;
  position: relative;
  margin-bottom: 50px;
}

.reason-s span {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: 'Lato Regular';
}

.author {
  grid-gap: 65px;
  justify-self: center;
}

.author__box {
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
}

.author__box img {
  max-width: 435px;
  max-height: 405px;
}

.about__author h2 {
  font-size: 30px;
  line-height: 36px;
  width: 653px;
}

.about__author .list__author {
  grid-gap: 20px;
}

.about__author .list__author li {
  grid-template-columns: 10px auto;
  grid-gap: 20px;
  max-width: 628px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato Regular';
}

.about__author .list__author li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #765F7D;
  border-radius: 50%;
  margin-top: 5px;
}

.img__author {
  grid-template-columns: repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
}

.positeone2 {
  background: #FFF8EF;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  z-index: -1;
}

.positeone2 .reviews {
  width: 946px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  grid-template-rows: 20px 100px 1px auto;
  margin-bottom: 60px;
}

.positeone2 .quotes {
  background: #714271;
  width: 40px;
  height: 40px;
  position: relative;
  top: -20px;
  left: 860px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.positeone2 .head__reviews {
  height: 90px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-template-columns: 80px auto;
  margin-left: 20px;
}

.positeone2 .head__reviews .user__reviews {
  grid-template-rows: repeat(2, auto);
}

.positeone2 .head__reviews .user__reviews .user__name {
  line-height: 17px;
}

.positeone2 .head__reviews .user__reviews .quick__review {
  width: 746px;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.positeone2 .line {
  width: 262px;
  height: 1px;
  background: #714271;
}

.positeone2 .text__reviews {
  padding: 30px;
}

.positeone2 .text__reviews p {
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 19px;
}

.positeone2 .text__reviews span {
  color: #862e86;
}

.footer {
  background: url(../img/bg_footer.jpg) top;
  height: 220px;
}

.footer .section__footer {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links {
  justify-self: start;
  text-align: left;
}

.suport,
.mail__href {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  margin: 5px;
}

.mail__href {
  text-decoration: underline;
  text-transform: none !important;
}

.footer__btn button {
  width: 243px;
  height: 47px;
  color: #fff;
  background: #EC2808;
  border-radius: 10px;
  text-transform: uppercase;
  margin-top: 40px;
}

.footer__btn button:hover {
  color: #999;
}

.info {
  text-align: right;
  width: 315px;
}

.info h2 {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}

.info p,
.info a {
  font-size: 14px;
  line-height: 17px;
  color: #BDC8D9;
  margin: 5px;
}

.info a:hover {
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
}

.container {
  max-width: 1140px;
  height: auto;
  justify-self: center;
  position: relative;
}

@media (max-width: 1199.98px) {
  .section-author {
    max-width: 950px !important;
  }

  .author {
    max-width: 950px;
  }

  .author .author__box {
    grid-gap: 10px;
  }

  .author .author__box .about__author h2,
  .author .author__box .about__author ul {
    max-width: 400px;
  }

  .author .img__author img {
    max-width: 200px;
  }
}

@media (max-width: 991.98px) {
  .section-author,
  .section__positeon {
    max-width: 800px !important;
    justify-self: center;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 100% !important;
    background: url(../img/smallBg.png);
    background-size: cover;
  }

  .event {
    margin: 0;
  }

  .main__title {
    height: 650px !important;
  }

  h1 {
    min-width: 500px !important;
    font-size: 50px !important;
  }

  .header__form {
    height: 100px !important;
  }

  .header__form::-webkit-input-placeholder {
    max-width: 200px;
    font-size: 12px !important;
  }

  .header__form::-moz-placeholder {
    max-width: 200px;
    font-size: 12px !important;
  }

  .header__form:-ms-input-placeholder {
    max-width: 200px;
    font-size: 12px !important;
  }

  .header__form::-ms-input-placeholder {
    max-width: 200px;
    font-size: 12px !important;
  }

  .header__form::placeholder,
  .header__form button {
    max-width: 200px;
    font-size: 12px !important;
  }

  .author__box {
    justify-items: center !important;
  }

  .section-author,
  .section,
  .container {
    max-width: 600px !important;
    justify-self: center;
  }

  .text,
  .box {
    max-width: 300px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .text p,
  .text img,
  .box p,
  .box img {
    max-width: 250px;
    height: auto;
  }

  .text .title__section,
  .box .title__section {
    margin-bottom: 20px;
  }

  .section-border,
  .course,
  .middle,
  .result,
  .section__positeon-2,
  ul {
    justify-self: center;
    max-width: 600px;
    height: auto;
  }

  .section-border h2,
  .course h2,
  .middle h2,
  .result h2,
  .section__positeon-2 h2,
  ul h2 {
    max-width: 600px;
  }

  .result {
    padding: 30px;
    margin: 0;
    grid-gap: 20px;
  }

  .result span {
    max-width: 580px;
    justify-self: center;
  }

  .middle {
    width: 600px;
  }

  p {
    max-width: 400px;
  }

  .img__author {
    max-width: 620px;
    grid-gap: 10px;
  }

  .author,
  .reviews,
  .content {
    max-width: 600px;
  }

  .author span,
  .reviews span,
  .content span {
    max-width: 500px;
  }

  .author .quotes,
  .reviews .quotes,
  .content .quotes {
    left: 500px;
  }

  .author .author__box,
  .reviews .author__box,
  .content .author__box {
    grid-template-columns: auto;
  }

  .author .about__author,
  .reviews .about__author,
  .content .about__author {
    justify-items: center;
  }

  .section__footer {
    grid-gap: 20px !important;
    max-width: 600px;
  }
}

.webp .header{ background: url(../img/bg_header.webp) center no-repeat; }

.webp .practice{ background: url(../img/bg_box2.webp); }

.webp .footer{ background: url(../img/bg_footer.webp) top; }

@media (max-width: 767.98px){

  .webp .header{ background: url(../img/smallBg.webp); }
}