* {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
}

.container1 {
    max-width: 1366px;
    min-width: 600px;
    max-height: 800px;
    min-height: 600px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

.slider {
    display: contents;
    position: relative;
    clear: both;
}

.style__buton__slider {
    background-color: #000 !important;
    border: 1px solid #000 !important;
    padding-top: 10px !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    box-sizing: border-box !important;
}

.form {
    display: none;
}

.btn-primary {
    border: none !important;

}

.header {
    left: 350px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 40px;
    right: 113px;
}

.logo:hover {
    opacity: 0.6;
    transition: .5s;
}

.logo:active {
    opacity: 1;
    transition: none;
}

.main__menu {
    padding-left: 250px;
}

.li__main__menu {
    list-style-type: none;
    margin-left: 10px;
    float: left;
    width: 110px;
    text-align: center;
}

.a__li__main__menu {
    text-decoration: none;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.a__li__main__menu:hover {
    font-size: 14px;
    color: #212121;
    font-weight: 700;
    text-decoration: none !important;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}


.btn-primary {
    background: none;
    border: none;
}

.btn-primary:hover {
    background: none;
    border: none;
}

.btn-primary:focus {
    background: none;
    border: none;
}

.btn-primary:active {
    background: none;
    border: none;
}

.serch__form__header {
    width: 160px;
    height: 30px;
}

.card-body {
    background: none;
    border: none;
}

.text__slider__header {
    position: absolute;
    top: 350px;
}

.button {
    padding: 15px 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 5;
}

.button:hover {
    text-decoration: none;
    color: #6c6c6c;
}

.button:active {
    text-decoration: none;
    box-shadow: none;
    color: #212121;
}

.p__slider__header {
    color: #43a047;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.h2__slider__header {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.second__p__slider__header {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    max-width: 458px;
    max-height: 38px;
}

/* header cloust  */


.container2 {
    max-width: 1366px;
    min-width: 600px;
    max-height: 800px;
    min-height: 400px;
    margin: 0 auto;
    clear: both;
    padding-top: 100px;

}

.smole__cotalog {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.a__style__text__smole__slider {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.button__smol__slider {
    border-bottom: 1px solid #212121;
    height: 47px;
    text-decoration: none !important;
    text-align: center;
}

.button__smol__slider a:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #212121;

}

.button__smol__slider a:focus {
    text-decoration: none !important;
    border-bottom: 2px solid #212121;
}

.button__to__red__more {
    padding-left: 60%;
    padding-top: 23px;
}

.bytton__style__smol {
    display: flex;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}



.bytton__style__smol:hover {
    text-decoration: none;
    color: #6c6c6c;
}

.img__cotalog {
    text-align: center;
    padding-top: 50px;
}

.img__cotalog__mini {
    padding-left: 30px;
}

.img__cotalog__mini:hover {
    opacity: .6;
}

/* container2 cloust  */

.container3 {
    max-width: 1366px;
    min-width: 800px;
    max-height: 800px;
    min-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

.exclusec__content {
    display: flex;
}

.choes__exclusev {
    width: 50%;
    height: 600px;
    margin-top: 100px;
}

.choes1 {
    background-image: url(../img/promo-img1.jpg);
}

.choes2 {
    background-image: url(../img/promo-img.jpg);
}

.text__choes__exclusec {
    padding-top: 265px;
    padding-left: 30px;
}

.p__choes__exclusec {
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

/* container3 cloust  */
.container4 {
    max-width: 1366px;
    min-width: 600px;
    max-height: 1200px;
    min-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
    padding-top: 100px;
}

.activ__title {
    border: none;
}

.img__cotalog__smol {
    padding-top: 50px;
    padding-left: 50px;
}

.img__cotalog__smo {
    padding-top: 20px;
}

.img__cotalog__smol:hover {
    opacity: .6;
}

/* container4 cloust  */
.container5 {
    max-width: 1366px;
    min-width: 600px;
    max-height: 1100px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 100px;
}

.slider__too {
    background: none;
}

.second__slider {
    top: 3350px;
    left: 345px;
}

.slide2 {
    background-color: #000 !important;
    border: 1px solid #000 !important;
    padding-top: 10px !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    box-sizing: border-box !important;
}

/* container5 cloust  */
.container6 {
    max-width: 1366px;
    min-width: 600px;
    max-height: 1100px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 100px;
}

.tipe__to {
    width: 570px;
    height: 580px;
    background-image: url(../img/product-1-lg.jpg);
}

/* container6 cloust  */
.container7 {
    max-width: 1366px;
    min-width: 600px;
    max-height: 1100px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 100px;
    overflow: hidden;
}

.mobil__chop {
    height: 516px;
    display: flex;
    background-image: url(../img/back-img.jpg);
}

.mob {
    padding-top: 30px;
}

.mobil__shop {
    padding-top: 170px;
    overflow: hidden;
}

.style__mobil:hover {
    opacity: 0.6;
    box-shadow: 0 5px 5px 5px rgba(33, 33, 33, 0.35);
}

.style__mobil:active {
    box-shadow: none;
}

/* container7 cloust  */
.footer {
    height: 200px;
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
}

.contact__info {
    width: auto;
    height: 170px;
}

.contact__us {
    float: left;
    width: 230px;
    height: 170px;
    margin-left: 70px;
    margin-top: 100px;
}

.useful {
    float: left;
    width: 500px;
    height: 170px;
    margin-left: 70px;
    margin-top: 100px;
}

.touch {
    float: left;
    width: 380px;
    height: 170px;
    margin-left: 50px;
    margin-top: 100px;
}

.dan__footer {
    clear: both;
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
}

.row__1,
.row__2 {
    width: 225px;
    float: left;
}

.row__1 a,
.row__2 a {
    clear: both;
    width: 125px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 26px;
}

.row__1 a:hover,
.row__2 a:hover {
    text-decoration: none;
    color: #6c6c6c;

}

.contact__h2 {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-bottom: 10px;
}

.contact__p {
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.icon__footer,
.privcy {
    padding-left: 215px;
}

.icon__footer__style:hover {
    opacity: 0.6;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}


.a__footer__href {
    text-decoration: none !important;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.a__footer__href:hover {
    color: rgb(218, 0, 0) !important;
}

.formm {
    border: 1px solid #212121;
    padding: 10px 0;
}

.email__input {
    border: none;
    width: 340px;
}

.email__input::placeholder {
    padding-left: 10px;
}

.dan__footer {
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.activ__title__size2 {
    padding-left: 500px;
}

/* footer cloust  */

.header__cotalog {
    height: 350px;
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    overflow: hidden;
}

.header__cotalog__h2 {
    position: absolute;
    top: 250px;
    left: 350px;
    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    overflow: hidden;
}

.cotalog__href {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 1.8px;
}

.cotalog__buton__smol__slyder {
    padding-left: 240px;
    padding-top: 0;
}

.button__smol__slider__cotalog {
    height: 25px;
}

.button__smol__slider__cotalog a {
    padding-left: 10px;
    padding-right: 10px;
}

.re__muve {
    max-width: 1366px;
    min-width: 600px;
    height: 100px;
}

.re__muve__icon img {
    margin-left: 48%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.re__muve__icon img {
    float: left;
    transition: all 2.5s ease-in-out;
}

.re__muve__icon__spiner:hover {
    transform: rotate(1080deg);
}




.page__header {
    height: auto;
    overflow: hidden;
    clear: both;
}

.container__page {
    max-width: 1366px;
    min-width: 600px;
    height: 200px;
    margin: 0 auto;
    padding-top: 100px;
    overflow: hidden;
}

.header__cotalog {
    background: none;
}

.box__menu__page {
    background-color: #f4f4f4;
    width: auto;
    height: 100px;
    text-align: center;
    padding-left: 240px;
    padding-top: 36px;
}

.page__link {
    float: left;
    list-style-type: none;
    padding-left: 50px;
}

.page__link a {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.page__link a:hover {
    color: #212121;
    letter-spacing: 1.8px;
    text-decoration: none;
}

.page__footer {
    clear: both;
}

.container__page2 {
    max-width: 1366px;
    min-width: 100px;
    max-height: 1000px;
    min-height: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.choes3,
.choes4 {
    background: none;
    margin: 0 auto;
}

.button__price {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    padding: 15px 200px;
}

.text__choes4 {
    text-align: center;
    float: left;
}

.price__style {
    display: flex;
    padding-left: 170px;
}

.h2__title__page {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.hot__deal {
    color: #e53935;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.price__p {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 300;
    padding-top: 25px;
}

.h2__price {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 300;
    font-size: 72px;
    text-transform: uppercase;
}

.page__mains {
    color: #212121;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 25.01px;
}

.about__page {
    height: 200px;
    overflow: hidden;
}

.clider__page {
    width: 500px;
    height: 800px;
}

.main__pictur {
    width: 500px;
    height: 700px;
    padding-top: 150px;
}

.slids {
    display: flex;
}

.slide__pictur__smol {
    width: 70px;
    height: 70px;
    margin-left: 80px;
}

.img__page:hover {
    opacity: 0.6;
}

.containerpage1 {
    max-width: 1366px;
    min-width: 100px;
    max-height: 1000px;
    min-height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 150px;
}

.contact__h2_gg {
    font-family: Montserrat;
    font-weight: 100;
    font-size: 62px;
    color: #000;
}

.form_cont {
    display: flex;
}

.window__form__contact {
    width: 370px;
    height: 370px;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid #212121;
}

.litle_wendow_cont {
    width: 370px;
    height: 370px;
}

.window__form__contact {
    padding-top: 30px;
    text-align: center;

}

.map__icon {
    padding-bottom: 30px;
}

.h2_lwc {
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.p_lwc {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;

}

.h3_hover {
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.p_lwc_address {
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.litle_wendow_cont a:hover,
.h3_hover:hover {
    text-decoration: none;
    color: #f70400;
}